<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
    <td>Name</td>
    <td>Arrivals</td>
    <td>Map Link</td>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
    <tr>
      <td><%= link_to station.name, station.url %></td>
      <td></td>
      <td><a href="http://maps.google.com/maps?q=<%= station.lat %>,+<%= station.lon %>">Google</a></td>
    </tr>
    <% end %>
  </tbody>
</table>